#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

#app {  
  float: left;
}

#turn-container {  
  float: right;
}

body {
  background-color: #312E2B;
  color: #dadada;
}

.info-container {
  float: right;
  width: 50%;
  display: none;
}

#history {  
  color: #dadada;
  background-color: #272522;
}

#history-container {
  overflow-y: scroll;
  height: 83vh;
}

#exs {
  display: none;
  background-color: #272522;
}

#exs-container {
  overflow-y: scroll;
  height: 83vh;
}

#waiting {
  display: none;
}

.piece-ex {
 padding: 25px;
}

.piece-ex img {
 float: left;
 padding-right: 20px;
}

.tab-button {
  border: none;
  cursor: pointer;
  color: #dadada;
  padding: 5px 25px;
}

.tab-bar {
  background-color:#201E1C;
}

.active-tab {
  background-color:#272522;
}

.inactive-tab {
  background-color:#201E1C;
}

.roomid-container {
  background-color: #312E2B;
}


#create-game { 
  display: flex;
  justify-content: center;
}

.create-box {
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}

#room-full { 
  color: red;
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #313131;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1em;
  width: 30%;
}

/* The Close Button */
.close {
  color: #e7e7e7;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #5a5a5a;
  text-decoration: none;
  cursor: pointer;
}